<nav class="navbar navbar-expand-lg" style="background: rgb(158 0 255 / 60%)">
  <a class="navbar-brand" href="/" style="font-family: Brush Script MT;font-size: 50px;  background-image: linear-gradient(to right,
 #462523 0,
 #cb9b51 22%, 
 #f6e27a 45%,
 #f6f2c0 50%,
 #f6e27a 55%,
 #cb9b51 78%,
 #462523 100%
 );color:transparent;background-clip:text;
">ShopSmall</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated%}
          {% if user.is_business %}
              <li class="nav-item active">
                  <a class="nav-link" href="business/dashboard/">Dashboard</a>
              </li>
          {%endif%}
          {% if user.is_customer %}
              <li class="nav-item active">
                  <a class="nav-link" href="customer/dashboard/">Dashboard</a>
              </li>
          {%endif%}
      {% endif %}
      <form id="search-form" method=POST action="{% url 'search' %}">
        {% csrf_token %}
        <input type="search" placeholder="Search..." name="searched">
        <input type="radio" id="business" name="search_type" value="Business">Business
        <input type="radio" id="products" name="search_type" value="Products"> Products
        <button type="submit">Submit</button>
      </form>
      {% if user.is_authenticated%}
        <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          
        </ul>
      {%endif%}
     
    </ul>
    
  </div>


  <script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
      // Get the value of the selected radio button
      var selectedValue = document.querySelector('input[name="search_type"]:checked').value;
      
      // Set the value of the radio button as a hidden input field
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'search_type');
      hiddenInput.setAttribute('value', selectedValue);
      this.appendChild(hiddenInput);
    });
  </script>
</nav>
